.w100{width: 100px !important}
.align-right{text-align:right;}
.mh420{min-height: 420px}
.blue{color:#038ace;}
.green{color:green;}
.orange{color:orange;}
.red{color:red;}
.pl50{padding-left:50px;}
.bg_gray{background-color: gray}
.gray{background-color:#ecf0f5;margin-top: 20px}
.row_service_list{background-color: #fffcfc;padding:20px;border: 1px solid #d2d2d2;}
.bottom20{margin-bottom: 20px !important}
.weekend{background-color: #6d7278;color:white}
.libur_nasional{background-color: #dd4b39;color:white}
.color_client{background-color: #3c8dbc;color:white}
.color_overtime{background-color: #f39c12;color:white}
.color_sakit{background-color: #00a65a;color:white}
.color_unpaid{background-color: #00c0ef;color:white}
.bold{font-weight:bold;}
.nav-pills{border-bottom: 5px solid #337ab7;}
.hidden { display: none; }
.formfield { float: left; }
.example-template { clear: left; }
/*dashboard*/
.box-title .title{
	font-size: 16px !important;
  font-weight: bold;
	color: #FFFFFF;
}
.box-title .number{
	font-size: 24px !important;
    font-weight: bold;
	color: #FFFFFF;
}
.box-title .view-detail{
	font-size: 14px !important;
  font-weight: bold;
	color:#FFFFFF;
	/*text-align: center;*/
	margin-top: 10px;
}
.box-title .view-detail a{
  color:#FFFFFF;
}
.box-title .view-detail a:hover{
  color:#aab7b1;
}
#map{
  width:100%; height:400px;
}
.mt-20 {
  margin-top: 20px;
}
.row_one .image{
  width:50px;
}
.bg-blue-old {
  background-color: #4a76e9;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
}
.bg-blue-young {
  background-color: #7fc6fc;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
}
.bg-purple {
  background-color: #a071cf;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
}
.bg-green {
  background-color: #84d2b2;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
}
.bg-orange {
  background-color: #ddb566;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
}
.bg-red {
  background-color: #f54445;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
}
/*enddashboard*/
/*spinner loading*/
.spinner{
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
  z-index: 10000;
  position: fixed;
  left: 50%;
  top: 30%;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #0e4794;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1{
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2{
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay{
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay{
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/*close spinner loading*/
/*add client*/
.box-body .title{
  font-size:20px !important;
  color:#2c2d77;
  margin-top:30px;
}
.box-body .title_small{
  font-size:16px !important;
  color:#2c2d77;
  margin-top:30px;
  margin-left: 50px;
}
.row-form .sub_title{
  text-align: right !important;
  font-weight: bold;
  margin-top:5px;
}
.row-form .non_sub_title{
  text-align: right !important;
  font-weight: bold;
}
.row-form .col{
  margin-bottom:10px;
}
.row-form .value{
  font-size:14px;
  font-family: verdana;
}
.client .col{
  margin-top:20px;
}
.client .bt-blue{
  border-top:5px solid #0089ce;
}
.client .bg-white{
  background-color: white;
}
/*detail client*/
.nav-pills .nav-link{
  font-size:18px !important;
  font-weight: bold;
}
.tab-pane .title{
  font-size:20px !important;
}
.tab-pane .top_title{
  font-size:20px !important;
  margin-top: 20px;
}
/*report time charge*/
.nav-width{
  width: 200px;
  text-align: center;
}
.row_rtc{
    background-color:#e9e9e9;
}
.row_rtc .rtc{
    height: 70px;
    width: 100%;
}
.row_rtc .client_name{
  font-size:20px;
  font-weight:bold;
}
.row_rtc .title{
  color:#038ace;
  font-size:14px !important;
  font-weight: bold;
}
.row_rtc .title_value{
  font-size:14px !important;
  margin-top:-10px;
}
.row_rts .rts{
    height: 70px;
    width: 100%;
}
.row_rts .name{
  font-size:20px;
  font-weight:bold;
}
.row_rts .rts_button{
  width:30px;
  height:15px;
}
.valign-middle{
  vertical-align:middle !important;
}
.tbody .column_total{
  font-size:18px;
  font-weight: bold;
  text-align: right;
  background-color:#e9e9e9;
}
.box-info{
  padding:10px;
}
.box-info .title{
  color:#0c8fd0;
  font-size:18px !important;
  font-weight: bold;
}
.tr-gray{
  background-color:#e9e9e9;
  font-weight: bold;
  text-align: center;
}
.tr-blue{
  font-weight: bold;
  color:#0189ce;
}

/* Code By Webdevtrick ( https://webdevtrick.com ) */
.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 100%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #0089ce;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*calendar*/
.days  td {
  height:5px !important;
  text-align: center;
  font-size: 14px;
  padding:5px 0 5px 0 !important;
  color:#555;
  font-weight: bold;
}

.month td {
  margin:0px;
  border-top:1px solid #adb0b1;
  border-left:1px solid #adb0b1;
  border-right:1px solid #adb0b1;
  border-bottom:1px solid #adb0b1;
  background: white;
  position: relative;
  height:20px;
  padding:10px 0 0 0;
  width:70px;
}

.month td:hover:not(.today){
  background: #cbd1d3;
}

.planner .blur{
  color:#aeb0b0 !important;
}
  
/*.planner .today {
  background: #c4cacc;
}*/

.planner .sunday {
  background: #c4cacc;
}

.planner .exist {
  background: red;
  color:white;
}

.planner .red {
  background: red;
}
  
.month td a.date{
  position: absolute;
  top:1px;
  right:8px;
  font-size: 12px;
  color:black;
}

.month td a.date_blur{
  position: absolute;
  top:1px;
  right:8px;
  font-size: 12px;
  color:#aeb0b0;
}
/*end calendar*/

/*button switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*end button switch*/